<div class="container">
  <div class="row justify-content-center" data-controller="search">
    <div class="col-xs-12 col-sm-6">
      <h1>Cocktails</h1>
      <%= form_with(url: "/", method: :get, data: {action: "submit->search#submit"}) do |f| %>
        <%= label_tag(:query, "Search for") %>
        <%= text_field_tag :query, params[:query], data: {target: "search.query"} %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
      <div id="cocktails" data-target="search.cocktails">
        <%= render @cocktails %>
      </div>
    </div>
  </div>
</div>